
#[read]
#key_range_start = 30
#key_range_end = 30
#key_points = 1
#key_points_mode = linear
#value_range_start = 100
#value_range_end = 100000
#value_points = 30
#value_points_mode = geometric
#samples_per_point = 100000

#[tx_async_multiread]
#key_range_start = 30
#key_range_end = 30
#key_points = 1
#key_points_mode = linear
#value_range_start = 1024
#value_range_end = 1024
#value_points = 1
#value_points_mode = linear
#multi_range_start = 1
#multi_range_end = 1024
#multi_points = 11
#multi_points_mode = linear
#server_range_start = 4
#server_range_end = 4
#server_points = 1
#server_points_mode = linear
#samples_per_point = 1000

[multiread]
key_range_start = 30
key_range_end = 30
key_points = 1
key_points_mode = linear
value_range_start = 100
value_range_end = 100
value_points = 1
value_points_mode = geometric
multi_range_start = 100
multi_range_end = 100000
multi_points = 10
multi_points_mode = geometric
server_range_start = 4
server_range_end = 4
server_points = 1
server_points_mode = linear
samples_per_point = 100

#[write]
#key_range_start = 30
#key_range_end = 30
#key_points = 1
#key_points_mode = linear
#value_range_start = 100
#value_range_end = 1000000
#value_points = 15
#value_points_mode = geometric
#samples_per_point = 1000
#
#[multiread_fixeddss]
#dss_range_start = 100
#dss_range_end = 1000000
#dss_points = 6
#dss_points_mode = geometric
#multi_range_start = 1
#multi_range_end = 512
#multi_points = 10
#multi_points_mode = geometric
#server_range_start = 1
#server_range_end = 1
#server_points = 1
#server_points_mode = linear
#samples_per_point = 1000
